@media(max-width:1000px) {
  .portfolio {
    display: none;
  }
}

:root {
  --verde: #F58220;
}

body,
ul,
li {
  margin: 0px;
  padding: 0px;
}

@media (max-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  /* .menu, .grid-section, .copy {
    grid-column: 1;
  } */
  .grid-section {
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
  }

  /* .portfolio-lista {
    grid-column: 1;
  } */
  .faq-lista,
  .dados,
  .mapa {
    grid-column: 1 / 3;
  }

  .menu {
    margin-top: 0px;
  }

  .copy {
    margin-bottom: 0px;
  }
}

.js [data-tab="content"] section {
  display: none;
}

[data-tab="content"] section.ativo {
  display: block !important;
}

[data-tab="content"] section.ativo.show-right {
  animation: show-right 0.5s forwards;
}

[data-tab="content"] section.ativo.show-down {
  animation: show-down 0.5s forwards;
}

@media (min-width: 900px) {
  .grid-section {
    grid-column: 1 / 4;
    box-sizing: border-box;
    padding: 5px;
    display: grid;
    grid-template-columns: 20px 450px 1fr;
    grid-gap: 0;
    margin-bottom: 0;
  }
}

.portfolio h2 {
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.portfolio h2::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background: var(--verde);
}

.portfolio p {
  font-family: 'Cabin';
  line-height: 1.2;
}

.portfolio-lista {
  height: 450px;
  overflow-y: scroll;
  grid-column: 2;
}

.portfolio-lista li {
  cursor: pointer;
}

.portfolio-lista::-webkit-scrollbar {
  width: 10px;
}

.portfolio-lista::-webkit-scrollbar-thumb {
  background: transparent;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.portfolio-lista::-webkit-scrollbar-track {
  background: transparent;
}

.portfolio-descricao {
  grid-column: 4;
  margin-left: 10rem;
}

.portfolio-descricao section {
  margin-bottom: 3rem;
}

.portfolio-btn {
  background-color: transparent;
  border-radius: 10px;
  height: 50px;
  max-width: 400px;
  transition: 0.3s;
}

.portfolio-btn .card-4-projetos {
  border: 2px solid #8d8985;
  border-radius: 15px;
}

.portfolio-btn .card-4-projetos h4 {
  color: black;
  margin: 0;
}

.portfolio-btn .card-4-projetos:hover {
  box-shadow: 0 0 15px rgb(0 0 0 / 28%);
}

.portfolio-btn h4,
.portfolio-btn-cel h4 {
  color: white;
  font-size: 20px;
  margin-bottom: 15px;
}

.portfolio-btn-cel {
  background-color: #7aa0cc;
  border-radius: 10px;
  height: 50px;
  max-width: 200px;
  transition: 0.3s;
}

.portfolio-btn-cel:hover {
  background-color: #607fa1;
}

.portfolio-btn p {
  color: white;
  font-size: 15px;
}

.popover {
  font-size: 13px;
}

.projetos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
  cursor: pointer;
  filter: grayscale(100%);
  transition: .2s ease-in-out;
}

.projetos:hover {
  filter: grayscale(0%);
  transition: .2s ease-in-out;
}

.projetos:nth-child(1) {
  width: 85px;
  height: 70px;
}

.projetos:nth-child(2) {
  height: 70px;
  width: 85px;
}

.projetos:nth-child(3) {
  height: 80px;
  width: 80px;
}

.projetos:nth-child(4) {
  width: 80px;
  height: 80px;
}

.projetos:nth-child(5) {
  height: 55px;
  width: 180px;
}

.projetos:nth-child(6) {
  margin-top: 30px;
  height: 40px;
  width: 160px;
}

.projetos:nth-child(7) {
  height: 40px;
  width: 140px;
}

.projetos2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
  cursor: pointer;
  filter: grayscale(100%);
  transition: .5s ease-in-out;
}

.projetos2:hover {
  filter: grayscale(0%);
  transition: .5s ease-in-out;
}

.projetos2:nth-child(2) {
  height: 40px;
  width: 140px;
}

.projetos2:nth-child(6) {
  height: 50px;
  width: 140px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 31px;
  grid-row-gap: 15px;
  margin-top: 30px;
}

#respostaHp p,
#respostaDefesaCivil p,
#respostaLcc p,
#respostaConselhoRegional p,
#respostaCorecon p,
#respostaIphan p,
#respostaIcra p,
#respostaIncra p,
#respostaPositivo p,
#respostaTorino p,
#respostaSenac p,
#respostaAns p,
#respostaIbm p,
#respostaServers p,
#respostaSolution p {
  padding: 0 10px;
  font-size: 1.3rem;
}