body {
  background-color: #F5F6FA;
  overflow-x: hidden;
}

.backazul {
  background-color: #647B99 !important;
  width: 100%;
}

:root {
  --verde: var(#38a3a5);
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #F5F6FA;
}

body::-webkit-scrollbar-thumb {
  background: #F58220;
}

body::-webkit-scrollbar-thumb:hover {
  background: #F58220;
}

.laranja {
  color: #F58220;
  width: 100%;
  opacity: 1;
  border: 3px solid #F58220;
}

.texto {
  text-align: justify;
  font-size: 18px;
}

.sectioninicio {
  background: linear-gradient(89.99deg, #4e617a 30.89%, rgba(197, 220, 242, 0.45) 97.17%);
}

.img-inicial {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  z-index: -1;
}

h1,
h2,
h3 {
  color: #272727;
  font-family: 'Cabin';
  font-size: 40px;
}

.ball {
  content: "• ";
  color: #F58220;
}

footer {
  margin-top: 100px;
  color: #272727;
}

button {
  border: none !important;
  outline-style: none;
}

button:hover {
  border: none !important;
  outline-style: none;
}

button:active {
  border: none !important;
  outline-style: none;
}

button:focus {
  border: none !important;
  outline-style: none;
}

.contato {
  margin-top: 100px !important;
}

.troca-container {
  margin: 10px;
  margin-top: 25px;
  width: 80px;
}

.troca {
  visibility: hidden;
  position: absolute;
}

.troca+label {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.troca--sombra+label {
  width: 60px;
  height: 30px;
  background-color: transparent;
  border-radius: 60px;
}

.pergunta .subtitulo-modal p span {
  font-size: 1.5rem;
}

.troca--sombra+label:before,
.troca--sombra+label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}

.troca--sombra+label:before {
  right: 1px;
  background-color: #2d2d2d;
  border-radius: 60px;
  transition: background 0.4s;
}

.troca--sombra+label:after {
  width: 30px;
  background-color: #d4fffe;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}

.troca--sombra:checked+label:before {
  background-color: #2afadf;
}

.troca--sombra:checked+label:after {
  transform: translateX(30px);
}

.paragrafo {
  color: #ececec;
  font-size: 20px;
}

.pessoas {
  width: 400px;
  height: 400px;
}

.color-title {
  color: white;
}

.img-incial {
  z-index: -1;
}

.pergunta {
  color: #272727;
  cursor: pointer;
  display: flex;
}

.pergunta:hover {
  color: #757575;
}

.margem {
  margin-bottom: 25px;
  margin-top: 15px;
}

.escolha {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #272727;
}

a {
  color: #272727;
}

a:hover {
  color: #868691;
}

span {
  font-size: 20px;
  color: black;
  border: none;
}

.page-header {
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  max-height: 700vh;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carregar {
  margin: auto;
  height: 100%;
  display: block;
  width: 50%;
  padding: 200px;
}

.progress {
  height: 300px;
  background-color: transparent;
}

.progress>svg {
  height: 100%;
  display: block;
}

.nomeempresa img {
  height: 65px;
  width: 190px;
  margin-bottom: 12px;
}

.nomeempresa {
  height: 65px;
  width: 190px;
  margin-bottom: 12px;
}

#proximasessao {
  animation: seta 1000ms steps(40) infinite normal;
  animation-delay: 1s;
  opacity: 0;
}

@keyframes seta {
  from {
    height: 40px;
    width: 40px;
    opacity: 0;
  }

  to {
    height: 43px;
    width: 43px;
    opacity: 1;
  }
}

.linha-gradiente {
  height: 5px;
  width: 200px;
  background: #F58220;
  margin-bottom: 25px !important;
}

.nova {
  color: #28b9f5;
}

.botao {
  display: inline-block;
  padding: 10px 20px;
  margin: 0;
  font-size: 15px;
  border-radius: 30px;
  color: #28ddf5;
  transition: 1s ease-in-out;
}

.ligue {
  background: #F58220;
  color: #FFF;
}

.filiasparagrafo {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 20px;
}

.filiais {
  margin-right: 60px;
  filter: invert(70%);
}

p {
  font-family: 'Cabin';
  color: #000;
}

.parceiros {
  font-size: 22px;
  color: rgb(125, 125, 125);
  font-family: 'Cabin';
}

.section-margin .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.bg_video {
  position: absolute;
}

a:link {
  text-decoration: none;
}

.slogan {
  font-family: 'Cabin';
  color: white;
  font-size: 80px;
}

.section-margin .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.barradivisao-divider {
  margin: 5rem 0;
}

.imagemservico {
  height: 400px;
  border-radius: 10px;
}

.tecnologia {
  height: 450px;
  width: 550px;
  margin: 0 auto;
  transition: 2s ease-in-out !important;
  filter: drop-shadow(50px -30px 150px rgba(23, 240, 204));
  -webkit-filter: drop-shadow(50px -30px 150px rgba(23, 240, 204));
}

.tecnologia:hover {
  transition: 2s ease-out !important;
  filter: drop-shadow(50px -30px 150px rgb(103, 214, 196));
  -webkit-filter: drop-shadow(50px -30px 150px rgb(103, 214, 196));
}

.textoinicio {
  font-size: 55px;
  background-color: white;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  padding: 10px 20px;
}

.evolucao {
  font-size: 60px;
  background-color: black;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.circle {
  background-color: var(--verde);
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid var(--verde);
  margin: 0 25px;
}

.pontospositivos {
  margin-top: 30px;
  color: #ececec !important;
}

.saibamais {
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 15px;
  border: 1px solid #F58220;
  background-color: #F58220;
  color: #f1f1f1 !important;
  transition: 1s ease-in-out !important;
}

.saibamais:hover {
  transition: 1s ease-out;
  background-color: #eca160;
}

.localidade {
  font-size: 18px;
  color: #272727;
}

.endereco p {
  color: #272727;
}

.card-img1 {
  margin: 5px;
  height: 60px;
  width: 80px;
}

.card-img2 {
  height: 70px;
  width: 70px;
}

.card-img3 {
  height: 70px;
  width: 70px;
}

.card-img4 {
  height: 70px;
  width: 70px;
}

.card-img5 {
  margin-bottom: 10px;
  height: 70px;
  width: 95px;
}

#empresa {
  padding: 40px 0 0 0 ;
}

#servicos {
  padding: 8.5% 0 0 0 ;
}

#clientes {
  padding: 40px 0 0 0 ;
}

#projetos {
  padding: 45px 0 0 0 ;
}

.card-servicos {
  background-color: white;
  border-radius: 5px;
  color: #272727;
  cursor: pointer;
  transition: .3s;
}

.card-4 {
  background-color: transparent;
  border: 2px solid #8d8985;
  border-radius: 10px;
  height: 100%;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  margin: 0 4%;
}

.container-btn-servicos {
  width: 70vw;
  margin: 0 5vw;
  display: grid;
  grid-template-columns: 1.2fr 1.1fr 1.1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Um . dois"
    ". cinco ."
    "tres . quatro";
}

.container-btn-servicos button {
  background-color: transparent;
}

.container-btn-servicos .umBtn {
  grid-area: Um;
}

.container-btn-servicos .doisBtn {
  grid-area: dois;
}

.container-btn-servicos .tresBtn {
  grid-area: tres;
}

.container-btn-servicos .quatroBtn {
  grid-area: quatro;
}

.container-btn-servicos .cincoBtn {
  grid-area: cinco;
}


.card-4-servicos {
  background-color: transparent;
  border-radius: 10px;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
  margin: 0 ;
  border: 2px solid #8d8985;
  width: 250px;
  display: flex;
  flex-direction: column;
}

.card-4-servicos:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.282);

}

.card-4 h4 {
  color: #000;
  font-size: 20px;
  margin-bottom: 10px;
}

.card-4-servicos h4 {
  color: black !important;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

.card-4 p {
  color: #000;
  font-size: 15px;
  text-align: center;
}

/* 
.card-4-servicos p {
  color: white;
  font-size: 15px;
} */

.card-header {
  background-color: transparent;
  border: #fff;
}

.icone {
  margin: 15px;
  width: 50px;
  height: 30px;
  object-fit: contain;
}

.icone2 {
  margin: 15px;
  width: 100px;
  height: 30px;
}

.icone3 {
  margin: 15px;
  width: 120px;
  height: 20px;
}

.icone4 {
  margin: 15px;
  width: 80px;
  height: 40px;
}

.line {
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  color: white;
  white-space: nowrap;
  overflow: hidden;
}

.typing-animation {
  animation: blinkCursor 500ms steps(40) infinite normal, typing 2.5s steps(40) 1s normal both;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 10em;
  }
}

@keyframes blinkCursor {
  from {
    border-right-color: rgba(129, 129, 129, 0.75);
  }

  to {
    border-right-color: transparent;
  }
}

.titulo {
  color: #272727;
  text-align: left;
  grid-column: 1 / 4;
}

.PARCERIAS img {
  transition: 2s ease-in-out;
  filter: grayscale(80%);
}

.PARCERIAS img:hover {
  filter: grayscale(0%);
  transition: 1s ease-out;
}

.unidadesimg {
  transition: 0.5s ease-in-out;
}

.unidadesimg:hover {
  transition: 0.5s ease-out;
  transform: scale(1.1);
}

.vermapa {
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 30px;
  border: 1px solid #e79b59;
  color: #e79b59;
  transition: 1s ease-in-out;
  margin-bottom: 20px;
}

.vermapa:hover {
  background-color: var(--verde);
  color: #FFF;
  transition: 0.7s ease-out;
}

.btn {
  background-color: #F58220;
  color: white;
  font-size: 17px;
}

.btn:hover {
  background-color: #e4914a;
  color: white;
}

.social-media {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid;
  margin: 0 25px;
  position: relative;
  transition: all 0.3s;
  overflow: hidden;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0, 15);
}

.social-media img {
  width: 25px;
  height: 25px;
  filter: invert(80%);
}

.social-media i {
  font-size: 40px;
  transition: all 0.3s;
  color: #fff;
}

.social-media span {
  position: absolute;
  transform: translateY(-100px);
  font-family: 'Cabin';
  transition: all 0.3s;
}

.social-media {
  border-color: #F58220;
  background-color: #EEEEEE;
}

.social-media:hover {
  border-radius: 30px;
  padding: 16px 60px;
  background-color: #F58220;
}

#whatsapp:hover {
  padding: 16px 80px;
}

#instagram:hover {
  padding: 16px 80px;
}

#linkedin:hover {
  padding: 16px 90px;
}

.social-media:hover i {
  transform: translateY(100px);
}

.social-media:hover span {
  transform: translateY(0);
}

.social-media:hover span {
  color: #EEEEEE;
  font-size: 15px;
}

.social-media:hover img {
  opacity: 0;
}

.direitos {
  font-size: 12px;
}

.clientes {
  margin: 10px 30px 60px 30px;
  filter: grayscale(100%);
  transition: .5s ease-in-out;
}

.clientes:hover {
  filter: grayscale(0%);
  transition: .5s ease-in-out;
}

.clientes:nth-child(1) {
  width: 60px;
  height: 60px;
}

.clientes:nth-child(2) {
  height: 80px;
  width: 50px;
}

.clientes:nth-child(3) {
  height: 70px;
  width: 100px;
}

.clientes:nth-child(4) {
  height: 60px;
  width: 110px;
}

.clientes:nth-child(5) {
  height: 70px;
  width: 110px;
}

.clientes:nth-child(6) {
  height: 40px;
  width: 150px;
}

.clientes:nth-child(9) {
  width: 100px;
  height: 100px;
}

.clientes:nth-child(10) {
  width: 110px;
  height: 130px;
}

.clientes:nth-child(11) {
  width: 170px;
  height: 90px;
}

.circulo {
  width: 100px;
}

.glass {
  background: rgba(255, 255, 255, 0.10);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  z-index: -2;
}

.modal-title {
  margin: 0 auto;
  color: white;
  font-weight: bold;
}

.modal-header {
  background-color: #F58220;
}

.modal-body {
  font-size: 14px;
}

.subtitulo-modal {
  margin-top: 15px;
  margin: 0 auto;
}

.modal-dialog {
  max-width: 700px;
}

#openMenu,
#closeMenu {
  display: none;
}

#respostaHp ul,
#respostaDefesaCivil ul,
#respostaLcc ul,
#respostaConselhoRegional ul,
#respostaIncra ul,
#respostaInca ul,
#respostaIphan ul,
#respostaTorino ul,
#respostaIbm ul,
#respostaAns ul,
#respostaServers ul,
#respostaSolution ul,
#respostaMichelin ul,
#respostaHpPetrobras ul,
#respostaCiaEnergetica ul,
#respostaEmc2 ul,
#respostaFinep ul,
#respostaSenac ul,
#respostaPjerj ul,
#respostaDnit ul,
#respostaCepel ul,
#respostaEmop ul,
#respostaInfra ul,
#respostaCps ul,
#respostaUfrrjNI ul,
#respostaJohnson ul,
#respostaNucle ul,
#respostaUfrj ul,
#respostaUfabc ul,
#respostaMoeda ul,
#respostaUfrrjS ul,
#respostaPositivo ul,
#respostaCorecon ul {
  padding: 0 0 0 30px;
}

#respostaUfrrj ul li {
  list-style-type: disc;
}


@media screen and (max-width:768px) {

  #servicos {
    padding-left: 20px;
  }
  .titulo {
    padding: 0 0 0 20px;
  }

  #openMenu {
    display: block;
    border: none;
    background-color: transparent;
    font-size: 25px;
    margin-right: 40px;
    padding: 0 0 10px 0;
  }

  #openMenu svg {
    width: 20px;
  }

  #closeMenu {
    display: block;
    border: none;
    background-color: transparent;
    font-size: 25px;
    color: #fff;
    width: 35px;
    margin-left: 90px;
  }

  .texto {
    font-size: 1.5rem;
    padding: 0 10px;
  }


  .navbar {
    height: 70px;
    padding: 3px;
  }

  .nomeempresa img {
    width: 150px;
    height: auto;
  }

  .container-btn-servicos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    width: 81vw;
  }

}

@media (max-width:768px) {
  .clientes {
    margin: 5px 20px 10px 20px;
  }

  .clientes:nth-child(1) {
    width: 60px;
    height: 60px;
  }

  .clientes:nth-child(2) {
    height: 80px;
    width: 50px;
  }

  .clientes:nth-child(3) {
    height: 70px;
    width: 100px;
  }

  .clientes:nth-child(4) {
    height: 50px;
    width: 100px;
  }

  .clientes:nth-child(5) {
    height: 60px;
    width: 90px;
  }

  .clientes:nth-child(6) {
    height: 30px;
    width: 140px;
  }


  h1,
  h2 {
    font-size: 27px !important;
  }

  .slogan {
    font-size: 60px;
  }

  .botao {
    display: inline-block;
    padding: 10px 20px;
    margin: 0;
    font-size: 15px;
    border-radius: 30px;
    transition: 1s ease-in-out;
  }

  .ligue {
    background-color: #F58220;
    color: #FFF;
  }

  .botao:hover {
    background-color: #28ddf5;
    color: #FFF;
    transition: 0.7s ease-out;
  }

  .imagemservico {
    width: 450px;
    height: 300px;
  }

  .tecnologia {
    height: 200px;
    height: 200px;
  }

  .textoinicio {
    font-size: 30px;
    padding: 5px;
  }

  .evolucao {
    font-size: 30px;
  }

  .card-4 {
    width: 150px;
    height: 180px;
  }

  .card-4 p {
    color: #272727;
    font-size: 10px;
    font-size: 1.1rem;
    text-align: center;
  }

  .icone {
    min-width: 50px;
    min-height: 30px;
    object-fit: contain;
  }

  .PARCERIAS {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .empresasparceiras {
    margin: 15px;
  }

  .PARCERIAS img {
    width: 45px;
    height: 45px;
  }

  .margem {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  h1,
  h2 {
    font-size: 27px;
  }

  .circle {
    margin: 0 5px;
  }

  .saibamais {
    margin: 0 auto;
  }

  .titulo {
    font-size: 27px !important;
  }

  .paragrafo {
    margin-bottom: 40px;
    margin-top: 20px;
  }

  .unidadesimg {
    width: 150px;
  }

  .sobre {
    margin-top: 100px;
  }

  .social-media:hover {
    border-radius: 30px;
    padding: 16px 50px;
    background-color: var(--verde);
  }

  .glass2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    pointer-events: none;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
    filter: blur(5px);
    -webkit-filter: blur(5px);
  }

  .tecnologia {
    height: 300px;
    width: 400px;
  }

  .card-4-servicos {
    background-color: transparent;
    border: 2px solid #8d8985;
    width: 300px;
    height: 75px;
    flex-direction: row;
  }


  .card-4-servicos:hover {
    background-color: transparent;
    border: 2px solid #8d8985;
  }

  .card-4-servicos h4 {
    color: black !important;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
  }

  .circulo {
    width: 60px;
  }

  .img-fluid {
    display: none;
  }

  .containerTextCard {
    width: 150px;
  }

  /* .containerTextCard h4{
    width: 140px;
  } */

  .containerImgCard {
    width: 80px;
    padding: 0;
    margin: 10px;
    justify-items: center;
    align-items: center;
  }

  #servicos button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 90vw;
  }

  #projetos button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 170px;
  }
  #projetos .modal-footer .btn,
  #servicos .modal-footer .btn  {
    display: block;
    width: auto;
  }

}

@media (min-width:768px) and (max-width: 1000px) {
  .clientes {
    margin: 5px 20px 10px 20px;
  }

  .clientes:nth-child(1) {
    width: 60px;
    height: 60px;
  }

  .clientes:nth-child(2) {
    height: 80px;
    width: 50px;
  }

  .clientes:nth-child(3) {
    height: 70px;
    width: 100px;
  }

  .clientes:nth-child(4) {
    height: 50px;
    width: 100px;
  }

  .clientes:nth-child(5) {
    height: 60px;
    width: 90px;
  }

  .clientes:nth-child(6) {
    height: 30px;
    width: 140px;
  }


  h1,
  h2 {
    font-size: 27px !important;
  }

  .slogan {
    font-size: 60px;
  }

  .botao {
    display: inline-block;
    padding: 10px 20px;
    margin: 0;
    font-size: 15px;
    border-radius: 30px;
    transition: 1s ease-in-out;
  }

  .ligue {
    background-color: #F58220;
    color: #FFF;
  }

  .botao:hover {
    background-color: #28ddf5;
    color: #FFF;
    transition: 0.7s ease-out;
  }

  .imagemservico {
    width: 450px;
    height: 300px;
  }

  .tecnologia {
    height: 200px;
    height: 200px;
  }

  .textoinicio {
    font-size: 30px;
  }

  .evolucao {
    font-size: 30px;
  }

  .card-4 {
    width: 150px;
    height: 180px;
  }

  .card-4 p {
    color: #272727;
    font-size: 10px;
    font-size: 1.1rem;
    text-align: center;
  }

  .icone {
    min-width: 50px;
    min-height: 30px;
    object-fit: contain;
  }

  .PARCERIAS {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .empresasparceiras {
    margin: 15px;
  }

  .PARCERIAS img {
    width: 45px;
    height: 45px;
  }

  .margem {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  h1,
  h2 {
    font-size: 27px;
  }

  .circle {
    margin: 0 5px;
  }

  .saibamais {
    margin: 0 auto;
  }

  .titulo {
    font-size: 27px !important;
  }

  .paragrafo {
    margin-bottom: 40px;
    margin-top: 20px;
  }

  .unidadesimg {
    width: 150px;
  }

  .sobre {
    margin-top: 100px;
  }

  .social-media:hover {
    border-radius: 30px;
    padding: 16px 50px;
    background-color: var(--verde);
  }

  .glass2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    pointer-events: none;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
    filter: blur(5px);
    -webkit-filter: blur(5px);
  }

  .tecnologia {
    height: 300px;
    width: 400px;
  }

  .card-4-servicos {
    background-color: transparent;
    border: 2px solid #8d8985;
    width: 415px;
    height: 75px;
    flex-direction: row;
  }

  .card-4-servicos:hover {
    background-color: transparent;
    border: 2px solid #8d8985;
  }

  .card-4-servicos h4 {
    color: black !important;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
  }

  .circulo {
    width: 60px;
  }

  .img-fluid {
    display: none;
  }

  .containerTextCard {
    width: 150px;
  }

  /* .containerTextCard h4{
    width: 140px;
  } */

  .containerImgCard {
    width: 80px;
    padding: 0;
    margin: 10px;
    justify-items: center;
    align-items: center;
  }

  #servicos button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 60vw;
  }

}

@media (min-width: 1000px) {
  .btnorcamento {
    display: inline-block;
    padding: 10px 40px;
    width: 100px;
    background: #F58220;
    text-align: center;
    font-size: 15px !important;
    border-radius: 30px;
    color: white !important;
    transition: .3s ease-in-out;
  }

  .btnorcamento:hover {
    transition: .3s ease-out;
    color: white !important;
    background-color: #e4914a !important;
  }

  .section-margin {
    margin-top: 50px;
    margin-bottom: 150px;
  }

  .featurette-heading {
    margin-top: 7rem;
  }

  .featurette-heading-lado {
    margin-top: 7rem;
    text-align: right;
  }

  .empresasparceiras {
    margin: 40px;
  }
}